<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lab.justonebyte.moneysubuu">

    <application
        android:name=".SuBuuApplication"
        android:allowBackup="true"
        android:icon="@drawable/money_tracker_foreground"
        android:label="@string/app_name"
        android:roundIcon="@drawable/money_tracker_foreground"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneySuBuu">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MoneySuBuu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>